@font-face {
    font-family: 'Glamore Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glamore Regular'), url("./images/Glamore-lgE7w.woff") format('woff');
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glamore Regular', sans-serif;
  }
  @font-face {
    font-family: 'Geosans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Geosans Light'), url("./images/GeosansLight.woff") format('woff');
  }
  

  body {
    background-image: url('../images/moss\ background.jpg');
  
    background-size: cover;
    background-position: center;
    font-family: 'Glamore Regular', sans-serif;
  }

  header {
    z-index: 999;
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    transition: 0.5s ease;
  }
  
  header .brand {
    color: #fffce4;
    
    text-transform: uppercase;
    text-decoration: none;
    
    width: 195px;
    height: 32px;
   
  }
  
  header .navigation {
    position: relative;
  }
  
  header .navigation .navigation-items a {
    position: relative;
    color: #fffce4;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fffce4;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before {
    width: 100%;
  }

  h2 {
     font-size: 24px;
     color: #ffffff;
     margin-left: 50px;
     margin-top: 40px;
     line-height: 100%;
  }
  
  .checkout{
    font-size: 30px;
    margin-left: 40%;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    
    -ms-flex: 50%; /* IE10 */
    flex: 10%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0  16px;
  
  }

  .h3 {
    color: #ffffff;
    font-size: 24px;
  }
  
  .container {
    background-color: #0e0d0d6e;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 1%;
  }
  
  input[type=text] {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #0b0c0cce;
    color: rgb(220, 220, 230);
    padding: 14px;
    margin: 10px 400px;
    position: relative;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #69ca69;
  }
  
  
  
  hr {
    border: 1px solid lightgrey;
  }
  
  .price {
    float: right;
    color: #ffffff;
    margin-top: 1%;
    height: 10px;
    font-size: 25px;
  }

  .price1 {
    float: right;
    color: #ffffff;
    margin-top: -3%;
    height: 10px;
    font-size: 25px;
  }

 
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  




