@font-face {
    font-family: 'Glamore Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Glamore Regular'), url("./images/Glamore-lgE7w.woff") format('woff');
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glamore Regular', sans-serif;
  }
  @font-face {
    font-family: 'Geosans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Geosans Light'), url("./images/GeosansLight.woff") format('woff');
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glamore Regular', sans-serif;
  }

  body {
    background-image: url('../images/moss\ background.jpg');
  
    background-size: cover;
    background-position: center;
    font-family: 'Glamore Regular', sans-serif;
  }

  h2 {
     font-size: 24px;
     color: #ffffff;
     margin-left: 50px;
     margin-top: 50px;
  }