@font-face {
  font-family: 'Glamore Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Glamore Regular'),
    url('../images/Glamore-lgE7w.woff') format('woff');
}
@font-face {
  font-family: 'Geosans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Geosans Light'), url('../images/GeosansLight.woff') format('woff');
}

body {
  background-image: url('../images/moss\ background.jpg');

  background-size: cover;
  background-position: center;
  font-family: 'Glamore Regular', sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 10%;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .gradient-text {
  color: #fff;

  margin-top: 3vh;
  margin-left: 30vw;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation .navigation-items a {
  position: relative;

  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin: 2vw;

  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

.coffeemug1 {
  position: absolute;
  background-position: center;
  width: 15vw;
  top: 14vh;
  margin-left: 38%;
}
.h2 {
  position: absolute;
  color: #000000;

  font-size: 20px;
  font-family: 'Geosans Light';
  width: 10%;
  margin-left: 40%;
  top: 42vh;
  text-align: center;
}
/* Coffee & Mushroom Animation Start*/

/* Cordyceps */
.onClickTextOverImage {
  width: 70px;
  height: 120px;
  top: -70vh;
  left: 20vw;
  background-size: cover;
  display: inline-block;
  border-radius: 16px;
  margin: 4px;

  cursor: pointer;
  position: relative;
}

.onClickTextOverImage div {
  position: absolute;

  width: 10vw;
  height: 15vh;
  color: #fff;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-top: 5%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
}

.onClickTextOverImage.show div {
  opacity: 1;
  padding-top: 1vh;
  visibility: visible;
  font-size: 0.6rem;
}

.loader {
  position: relative;
  width: 110px;
  height: 110px;
  top: -54vh;
  margin-left: 19vw;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.loader:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: transparent;
  border-radius: 50%;
  z-index: 1000;
}
.loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.Cordyceps {
  color: #000000;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-left: 18vw;
  margin-top: -35vw;
  border-radius: 30px;
  border: 1px solid #94e774;
  font-family: 'Geosans Light';
  box-shadow: 2px 2px 8px rgba(17, 230, 17, 0.973);
 background-color: rgb(147, 218, 76);
}

.Cordyceps label {
  margin-right: 5px;
}
.Cordyceps .button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
 cursor: pointer;
 background-color: black;
}

.Cordyceps .button:active {
  background: #fff;
 
}

.Cordyceps input {
  width: 18px;
  padding: 5px 10px ;
  font-family: 'Geosans Light';
  
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px;
}
/* Cordyceps */

/* Chaga */
.onClickTextOverImage1 {
  width: 136px;
  height: 125px;
  top: -64vh;
  left: 62vw;
  background-size: cover;
  display: inline-block;
  border-radius: 16px;
  margin: 4px;
  cursor: pointer;
  position: relative;
}

.onClickTextOverImage1 div {
  position: absolute;
  width: 11vw;
  height: 17vh;
  color: #fff;
  padding: 24px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 2;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-top: 5%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
}

.onClickTextOverImage1.show div {
  opacity: 1;
  padding-top: 1vh;
  visibility: visible;
  font-size: 0.6rem;
}

.loader1 {
  position: relative;
  width: 110px;
  height: 110px;
  top: -48vh;
  margin-left: 65vw;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.loader1:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: transparent;
  border-radius: 50%;
  z-index: 1000;
}
.loader1:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.Chaga {
  color: #000000;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-left: 61vw;
  margin-top: -30vw;
  border-radius: 30px;
  border: 1px solid #94e774;
  font-family: 'Geosans Light';
  box-shadow: 2px 2px 8px rgba(17, 230, 17, 0.973);
 background-color: rgb(147, 218, 76);
}

.Chaga label {
  margin-right: 5px;
}
.Chaga .button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
 cursor: pointer;
 background-color: black;
}

.Chaga .button:active {
  background: #fff;
 
}

.Chaga input {
  width: 24px;
  padding: 5px 10px;
  font-family: 'Geosans Light';
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px;
}

/* Chaga */

/* Lions mane */
.onClickTextOverImage2 {
  width: 102px;
  height: 88px;
  top: -10vh;
  left: 61vw;
  background-size: cover;
  display: inline-block;
  border-radius: 16px;
  margin: 4px;

  cursor: pointer;
  position: relative;
}

.onClickTextOverImage2 div {
  position: absolute;
  width: 10vw;
  height: 15vh;
  color: #fff;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-top: 5%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
}

.onClickTextOverImage2.show div {
  opacity: 1;
  padding-top: 1vh;
  visibility: visible;
  font-size: 0.6rem;
}
.loader2 {
  position: relative;
  width: 110px;
  height: 110px;
  top: 4vh;
  margin-left: 61vw;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.loader2:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: transparent;
  border-radius: 50%;
  z-index: 1000;
}
.loader2:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.Lionsmane {
  color: #000000;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-left: 56vw;
  margin-top: -1.5vw;
  border-radius: 30px;
  border: 1px solid #94e774;
  font-family: 'Geosans Light';
  box-shadow: 2px 2px 8px rgba(17, 230, 17, 0.973);
 background-color: rgb(147, 218, 76);
}

.Lionsmane label {
  margin-right: 2px;
}
.Lionsmane .button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
 cursor: pointer;
 background-color: black;
}

.Lionsmane .button:active {
  background: #fff;
 
}

.Lionsmane input {
  width: 18px;
  padding: 5px 10px;
  font-family: 'Geosans Light';
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px;
}

/* Lions mane */

/* Coffee */

.onClickTextOverImage3 {
  width: 62px;
  height: 115px;
  top: -74vh;
  left: 20vw;
  background-size: cover;
  display: inline-block;
  border-radius: 16px;
  margin: 4px;

  cursor: pointer;
  position: relative;
}

.onClickTextOverImage3 div {
  position: absolute;
  width: 10vw;
  height: 17vh;
  color: #fff;
  padding: 20px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 1;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin-top: 5%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.9s;
}

.onClickTextOverImage3.show div {
  opacity: 1;
  padding-top: 1vh;
  visibility: visible;
  font-size: 0.6rem;
}

.loader3 {
  position: relative;
  width: 110px;
  height: 110px;
  top: -56vh;
  margin-left: 19vw;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  animation: animate 2s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
.loader3:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: transparent;
  border-radius: 50%;
  z-index: 1000;
}
.loader3:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 30%, #e8e9ee);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.Coffee {
  color: #000000;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin-left: 16vw;
  margin-top: -34vw;
  border-radius: 30px;
  border: 1px solid #94e774;
  font-family: 'Geosans Light';
  box-shadow: 2px 2px 8px rgba(17, 230, 17, 0.973);
 background-color: rgb(147, 218, 76);
}

.Coffee label {
  margin-right: 5px;
}
.Coffee .button {
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid #c6c6c6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
 cursor: pointer;
 background-color: black;
}

.Coffee .button:active {
  background: #fff;
 
}

.Coffee input {
  width: 24px;
  padding: 5px 10px;
  font-family: 'Geosans Light';
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 10px;
}
/* Coffee */

/* Coffee & Mushroom Animation  End*/
.bg {
 
  background-image: url('../images/moss\ background.jpg');
  height: 518px;
  width: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxtotal {
  position:relative;
  color: #000000;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  
  margin-left: 28vw;
  bottom: -35rem;
  border-radius: 20px;
  border: 1px solid #94e774;
  font-family: 'Geosans Light';
  box-shadow: 2px 2px 8px rgba(17, 230, 17, 0.973);
 background-color: rgb(147, 218, 76);
}


/* percentage input */
.percent-sign {
  font-weight: bold;
  top: 1px;
  margin-right: 8px;
  color: #000000;
  position: relative;
  z-index: 2;
}
/* percentage input end */

.finishBtn{
  font-family: 'Glamore Regular';
  color: #000000;
  width: 10px;
  height: 20px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
 cursor: pointer;
 
}
